
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; frame-src 'self' https://www.dailymotion.com/;">
  ...
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <title>
    Argon Dashboard 2 by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
  <link id="pagestyle" href="/css/outSide.css" rel="stylesheet" />

</head>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <% if (userType === 'admin'  || userType==='radio' || userType==='chanel') { %>
    <%- include('../partials/sideBarAdmin.ejs') %>  
  <% } else if (userType === 'super_admin'|| userType==='signals' || userType==='admins') { %>
    <%- include('../partials/sideBarSuperAmin.ejs') %>  
  <% } %>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h6 class="font-weight-bolder text-white mb-0">Tables</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text text-body" id="searchButton"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control" id="searchBar" placeholder="Type here...">

            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">

          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
        
    <div class="container-fluid py-9">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="card shadow d-flex flex-column">
                    <div class="container-fluid py-4">
                        <div class="embed-responsive embed-responsive-16by9 mx-auto" style="height: 600px;">
                            <iframe class="embed-responsive-item" src="https://www.dailymotion.com/embed/video/x7va0xb?autoPlay=1" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title" id="playlist-title">Live Stream Title</h4>
                        <p class="card-text">Live Stream Description</p>
                        <div class="list-group">
                          <% data.forEach(function(radio, index) { %>
                            <div class="list-group-item " <%= index === 1 ? 'active' : '' %>" data-src="<%= radio.url %>" data-name="<%= radio.name %>" data-id="<%= radio.chanel_id %>">
                              <span class="radio-name"><%= radio.name %></span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill delete-radio-btn" viewBox="0 0 16 16" style="opacity: 0; transition: opacity 0.5s ease-in-out; position: absolute; right: 0; top: 50%; transform: translateY(-50%); cursor: pointer;">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                              </svg>
                              
                            </div>
                          <% }); %>
                          
                        </div>
                          <div class="btn-group mt-3">
                            <a href="/addChanel" id="add-radio-btn" class="btn btn-primary" style="margin-right: 15px;">Add Chanel</a>
                            <button id="delete-radio-btn" class="btn btn-primary">Delete Chanel</button>
                          </div>
                          <div class="btn-group mt-3">

                            <button id="start-recording-btn" class="btn btn-success" style="margin-right: 15px;">Start Recording</button>
                            <button id="stop-recording-btn" class="btn btn-danger">Stop Recording</button>
        
         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://azrotv.com/scripts/my-script.js"></script>
    <script src="//st.mycdn.me/static/player/player.min.js"></script>
    <script src="https://api.dmcdn.net/all.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          var items = document.querySelectorAll('.list-group-item');
          var title = document.getElementById('playlist-title');

          items.forEach(function(item) {
              item.addEventListener('click', function() {
                  var radioName = this.getAttribute('data-name');
                  title.textContent = radioName;
              });
          });

      });


    </script>
    <script>
var deleteBtnStatus = false;

document.getElementById('delete-radio-btn').addEventListener('click', function() {
  var deleteButtons = document.getElementsByClassName('delete-radio-btn');
  deleteBtnStatus = !deleteBtnStatus;
  for(var i = 0; i < deleteButtons.length; i++) {
    deleteButtons[i].style.opacity = deleteBtnStatus ? "1" : "0";
  }
});

var deleteButtons = document.getElementsByClassName('delete-radio-btn');

for(var i = 0; i < deleteButtons.length; i++) {
  deleteButtons[i].addEventListener('click', function(event) {
    console.log('SVG clicked');
    console.log('Parent element:', event.currentTarget.parentElement);

    var chanelId = event.currentTarget.parentElement.getAttribute('data-id');
    console.log('Channel ID:', chanelId);

    fetch(`/chanels/${chanelId}`, {
      method: 'DELETE',
    })
    .then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error ${response.status}`);
      }
      window.location.reload(); // reload page to update list after deletion
    })
    .catch(err => {
      console.error(err);
    });
  });
}



          </script>
 <script>
  var iframe = document.querySelector('iframe');
  var listItems = document.querySelectorAll('.list-group-item');
  var videoPlayer = document.querySelector('.embed-responsive');
  
  function getDailymotionId(src) {
      var regExp = /^.+dailymotion.com\/(?:embed\/)?video\/([a-zA-Z0-9]+)/;
      var match = src.match(regExp);
  
      console.log("getDailymotionId src", src);
      console.log("getDailymotionId match", match);
  
      return (match) ? match[1] : null;
  }
  
  function updatePlayer(src) {
      var isDailymotion = src.includes("dailymotion");
      var isOkRu = src.includes("ok.ru");
      var isZitounaTv = src.includes("azrotv.com/m3u8/teledunet");
  
      console.log("updatePlayer src", src);
      console.log("isDailymotion", isDailymotion);
      console.log("isOkRu", isOkRu);
      console.log("isZitounaTv", isZitounaTv);
  
      if (isDailymotion) {
          var videoId = getDailymotionId(src);
          iframe.src = "https://www.dailymotion.com/embed/video/" + videoId;
      } else if (isOkRu) {
          iframe.setAttribute('src', src);
      } else if (isZitounaTv) {
          iframe.setAttribute('src', src);
      }
  }
  
  for (var i = 0; i < listItems.length; i++) {
      listItems[i].addEventListener('click', function(event) {
          event.preventDefault();
  
          var newSrc = this.getAttribute('data-src');
  
          console.log("Click event newSrc", newSrc);
  
          // Update the player with the new source
          updatePlayer(newSrc);
  
          // Remove the 'active' class from all list items
          for (var j = 0; j < listItems.length; j++) {
              listItems[j].classList.remove('active');
          }
  
          // Add the 'active' class to the clicked list item
          this.classList.add('active');
  
          // Smoothly scroll to the video player
          window.scrollTo({
              top: videoPlayer.getBoundingClientRect().top + window.pageYOffset,
              behavior: 'smooth'
          });
      });
  }
  </script>
  
    

  </main>
  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
      <i class="fa fa-cog py-2"> </i>
    </a>
    <div class="card shadow-lg">
      <div class="card-header pb-0 pt-3 ">
        <div class="float-start">
          <h5 class="mt-3 mb-0">Argon Configurator</h5>
          <p>See our dashboard options.</p>
        </div>
        <div class="float-end mt-4">
          <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
            <i class="fa fa-close"></i>
          </button>
        </div>
        <!-- End Toggle Button -->
      </div>
      <hr class="horizontal dark my-1">
      <div class="card-body pt-sm-3 pt-0 overflow-auto">
        <!-- Sidebar Backgrounds -->
        <div>
          <h6 class="mb-0">Sidebar Colors</h6>
        </div>
        <a href="javascript:void(0)" class="switch-trigger background-color">
          <div class="badge-colors my-2 text-start">
            <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
          </div>
        </a>
        <!-- Sidenav Type -->
        <div class="mt-3">
          <h6 class="mb-0">Sidenav Type</h6>
          <p class="text-sm">Choose between 2 different sidenav types.</p>
        </div>
        <div class="d-flex">
          <button class="btn bg-gradient-primary w-100 px-3 mb-2 active me-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
          <button class="btn bg-gradient-primary w-100 px-3 mb-2" data-class="bg-default" onclick="sidebarType(this)">Dark</button>
        </div>
        <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
        <!-- Navbar Fixed -->
        <div class="d-flex my-3">
          <h6 class="mb-0">Navbar Fixed</h6>
          <div class="form-check form-switch ps-0 ms-auto my-auto">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
          </div>
        </div>
        <hr class="horizontal dark my-sm-4">
        <div class="mt-2 mb-5 d-flex">
          <h6 class="mb-0">Light / Dark</h6>
          <div class="form-check form-switch ps-0 ms-auto my-auto">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
          </div>
        </div>
        <a class="btn bg-gradient-dark w-100" href="https://www.creative-tim.com/product/argon-dashboard">Free Download</a>
        <a class="btn btn-outline-dark w-100" href="https://www.creative-tim.com/learning-lab/bootstrap/license/argon-dashboard">View documentation</a>
        <div class="w-100 text-center">
          <a class="github-button" href="https://github.com/creativetimofficial/argon-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/argon-dashboard on GitHub">Star</a>
          <h6 class="mt-3">Thank you for sharing!</h6>
          <a href="https://twitter.com/intent/tweet?text=Check%20Argon%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&amp;url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fargon-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/argon-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->

  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/core/outSide.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>