
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <title>
    Argon Dashboard 2 by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link id="pagestyle" href="/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />

</head>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <% if (userType === 'admin'  || userType==='radio' || userType==='chanel') { %>
    <%- include('../partials/sideBarAdmin.ejs') %>  
  <% } else if (userType === 'super_admin'|| userType==='signals' || userType==='admins') { %>
    <%- include('../partials/sideBarSuperAmin.ejs') %>  
  <% } %>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h6 class="font-weight-bolder text-white mb-0">Signals</h6>
        </nav>
       

      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-xl-6 mb-xl-0 mb-4">
              <div class="card bg-transparent shadow-xl">
                <div class="overflow-hidden position-relative border-radius-xl" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/card-visa.jpg');">
                
                  
                    </div>
                  </div>
                </div>
              </div>
            </div>

      <div class="row">
        <div class="col-md-7 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">Signals Information</h6>
            </div>
            <div class="card-body pt-4 p-3">
              <% data.forEach(function(row) { %>
                <ul class="list-group">
                  <li class="list-group-item border-0 d-flex p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
                    <div class="d-flex flex-column">
                      <h6 class="mb-3 text-sm">Ethan James</h6>
                      <span class="mb-2 text-xs">Description: <span class="text-dark ms-sm-2 font-weight-bold"><%= row.description %></span></span>
                      <span class="mb-5 text-xs text-danger text-gradient">Date: <span ><i class="far fa-trash-alt me-2" aria-hidden="true"></i><%= row.date%></span></span>
                    </div>

                  </li>
                </ul>
              <% }); %>
            </div>
            
          </div>
        </div>
        
      
    </div>
  </main>
  <script>
    const deleteButtons = document.getElementsByClassName('delete-btn');
  
    for(let i = 0; i < deleteButtons.length; i++) {
      deleteButtons[i].addEventListener('click', function() {
        const id = this.getAttribute('data-id');
        console.log('Button clicked, id:', id);
        fetch(`/signals/${encodeURIComponent(id)}`, {
          method: 'DELETE',
        })
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error ${response.status}`);
          }
          // The fetch operation was successful, so refresh the page:
          window.location.reload();
        })
        .catch(err => {
          console.error(err);
        });
      });
    }
</script>



  <!--   Core JS Files   -->
  <%- include('../partials/scripts.ejs') %>  
</body>

</html>